<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- 

     -->
        <div id="app">
            <div class="from">
                <input type="text" v-model="name" placeholder="姓名" />
                <input type="text" v-model="age" placeholder="年龄" />
                <input type="text" v-model="sex" placeholder="性别" />
                <input type="text" v-model="email" placeholder="邮箱" />
            </div>
            <div class="data">
                <p>
                    姓名
                    <span>{{name}}</span>
                </p>
                <p>
                    年龄
                    <span>{{age}}</span>
                </p>
                <p>
                    性别
                    <span>{{sex}}</span>
                </p>
                <p>
                    邮箱
                    <span>{{email}}</span>
                </p>
            </div>
            <button id="but">改变名字</button>
        </div>
    </body>
    <script>
        class MVVM {
            constructor(el, data) {
                this.el = document.querySelector(el);
                // this._data = data;

                this.data = data;

                this.domPool = {};

                this.init();
            }
            init() {
                this.initData();
                this.initDom();
            }
            initDom() {
                this.bindDom(this.el);
                this.bindInput(this.el);
                // console.log(this.domPool);
            }
            bindDom(el) {
                //属性 绑定dom
                const childNodes = el.childNodes;
                childNodes.forEach(item => {
                    if (item.nodeType === 3) {
                        const _value = item.nodeValue;
                        if (_value.trim().length) {
                            let _isValid = /\{\{(.+?)\}\}/.test(_value);
                            if (_isValid) {
                                // console.log(item.nodeValue);
                                const _key = _value.match(/\{\{(.+?)\}\}/)[1].trim();
                                this.domPool[_key] = item.parentNode;
                                item.parentNode.innerText = this.data[_key] || undefined;
                            }
                        }
                    }
                    item.childNodes && this.bindDom(item);
                });
            }

            initData() {
                // 完成数据响应
                // vue3d的数据绑定
                const _this = this;
                this.data = new Proxy(this.data, {
                    get(target, key) {
                        return Reflect.get(target, key);
                    },
                    set(target, key, value) {
                        _this.domPool[key].innerHTML = value;
                        return Reflect.set(target, key, value);
                    },
                });

                // vue2的数据绑定
                // const _this = this;
                // this.data = {};
                // for (let key in this._data) {
                //     Object.defineProperty(this.data, key, {
                //         get() {
                //             console.log("获取数据:", key, _this._data[key]);

                //             return _this._data[key];
                //         },
                //         set(newVal) {
                //             console.log("设置数据:", key, newVal);
                //             _this.domPool[key].innerHTML = newVal;
                //             _this._data[key] = newVal;
                //         },
                //     });
                // }
            }
            bindInput(el) {
                // 绑定事件处理函数
                const _allInputs = el.querySelectorAll("input");
                _allInputs.forEach(input => {
                    const _vModel = input.getAttribute("v-model");

                    if (_vModel) {
                        input.addEventListener(
                            "input",
                            this.handleInput.bind(this, _vModel, input, false)
                        );
                    }
                });
            }
            handleInput(key, input) {
                // 更改数据
                const _value = input.value;
                this.data[key] = _value;
                console.log(this.data);
            }
            setData(key, val) {
                this.data[key] = val;
            }
        }
        /*
        步骤：
            实现响应式数据
            绑定 input 的输入 事件处理函数，改变数据
            让相关的 dom 节点 ，数据绑定在一起


        */

        const app = new MVVM("#app", {
            name: "",
            age: "",
            sex: "",
            email: "",
        });

        document.querySelector("#but").addEventListener("click", function () {
            app.setData("name", "薛翼腾");
        });
    </script>
</html>
