<!DOCTYPE html>
<html>
    <head>
        <meta name="charset" content="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="http://jxsjs.com/lib/vue.min.js"></script>
        <title>clock</title>
    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        <div id="app">
            <!-- <p v-if="seen">现在你看到我了</p>
      <p v-else-if="name2 ==='xyt'">现在你看到我了2</p>
      <p v-else>现在你看到我了3</p> -->

            <template v-if="name">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
            </template>
            <!-- ------------------------------------ -->

            <!-- <a v-on:click="clicksj">...</a> -->
            <!-- --------------------------- -->

            <a @[sj]="clicksj">...</a>
            <!-- -------------------------------- -->

            <form v-on:click.prevent="onSubmit">...</form>
            <!-- ---------------------------------------- -->

            <!-- ------------------------ -->
        </div>
    </body>
    <script>
        const clock = new Vue({
            el: "#app",
            data: {
                seen: false,
                name: "xh",
                name2: "xyt2",
                name3: "xxx3",
                sj: "click",

                clicksj() {
                    console.log("触发click");
                },
                onSubmit() {
                    console.log("触发提交，取消默认事件");
                },
            },
        });

        /*
    条件渲染：
        v-if ：值为 true 显示 ，为flase 隐藏  ,"内部支持 js 表达式"
        v-else-if : 顺序执行判断 语句 ，遇到 true 就显示 ，并且后续不再执行
        v-else :  前面都为 false 时 ，最后他将显示

        template标签： 添加 v-if ，可以一次性渲染或者隐藏，并且 该标签不会出现在 html


        v-show : 为true显示，false隐藏 ，不支持template标签和  v-else

        v-if 和 v-show 对比:
            v-if 条件渲染 :
                1.直到条件第一次变为真才渲染
                2.切换开销大,用于运行时条件很少改变
                3.切换过程中，元素的事件监听和子组件会销毁和重建

            v-show 条件展示:
                1.不管条件是什么，元素总是被渲染，只是简单display切换
                2.初始渲染开销大,用于频繁切换
                

    事件绑定：
        v-on:事件  ： 绑定 事件 = "函数"   ，简写  @事件

    动态参数：
        v-on:[参数]
        v-bind:[属性]

    key:
        key 管理可复用的元素,
        也就是说，在切换过程中 ，不使用key值时 ，元素不会被重新渲染 ，而是复用，之前输入的内容不会改
        具体看 ：https://cn.vuejs.org/v2/guide/conditional.html


    事件修饰词：
        v-on:事件.prevent
        告知 触发的事件调用 event.preventDefault()
        
        stop是阻止事件冒泡
        <button @click.stop="test">test</button>
        
        prevent 阻止默认行为，相当于调用了event.preventDefault()方法，比如表单的提交、a标签的跳转就是默认事件
        <a @click.prevent="test">test</a>
        
        self 只有元素本身触发时才触发方法，就是只有点击元素本身才会触发
        <div @click.self="test"></div>
        
        once 只能用一次，无论点击几次，执行一次之后都不会再执行
        <div @click.once="test"></div>

    v-mode修饰符：
        lazy这个修饰符会在光标离开input框才会更新数据
        <input type="text" v-model.lazy="value">
        
        trim是输入框过滤首尾的空格
        <input type="text" v-model.trim="value">
        
        number的功能是先输入数字就会限制输入只能是数字
        <input type="text" v-model.number="value">


    */
    </script>
</html>
