

html
    <htm

    body
        p 缩进 body 标签没有意义，
        p 因为 HTML 本身对空格不敏感。
        p 这是一段纯洁的 最简单的<em>文本</em>内容.
    <

//- 
    如果一行的开头是左尖括号（<），那么整行都会被当作纯文本,
    不会被认成标签，更不会闭合标签

p
  | 管道符号总是在最开头，
  | 不算前面的缩进。

//- 
    另外一种向模板添加纯文本的方法就是在一行前面加一个管道符号（|）



script.
  if (usingPug)
    console.log('这是明智的选择。')
  else
    console.log('请用 Pug。')

//-
    非常大的纯文本块 :在标签后面紧接一个点 .


| 千万别
|
button#self-destruct 按
|
| 我！

//-您可以添加一个甚至更多的管道文本行——只有空格或者什么都没有的管道文本。这将会在渲染出来的 HTML 中插入空格。

p.
    使用常规的标签可以让您的代码行短小精悍，
    但使用嵌入标签会使代码变得更 #[em 清晰易读]。
    ——如果您的标签和文本之间是用空格隔开的。

//- 如果您需要插入的标签并不需要太多的属性，那么您或许可以试试在一个纯文本块内使用更简单的标签嵌入或者原始 HTML。


a: img
ul: li

//- 为了节省空间， Pug 为嵌套标签提供了一种内联式语法  : 