- for (var x = 0; x < 3; x++)
  li item

//-  用 - 开始一段不直接进行输出的代码
//-  for循环 ，与js相同


-var list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"]
each item in list
  li= item

//- each in 遍历数组  
//- 标签= 值

p= '这个代码被 <转义> 了！'
p '这个代码没被 <转义> ！'

//- 用 = 开始一段带有输出的代码，它应该是可以被求值的一个 JavaScript 表达式

p!= '这段文字' + ' <strong>没有</strong> 被转义！'

//- 用 != 开始一段不转义的，带有输出的代码。