html {
  width: 100vw;
}
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;

  color: #333;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 1.68rem; */
  z-index: 1001;
  background-image: linear-gradient(90deg, #1a2e4a 0, #409890 100%);
}
.hT {
  margin-top: 0.1rem;
  height: 0.68rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  align-items: center;
}
.hT .logo {
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/headerLogo-iqiyi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 0.8em;
  height: 0.6em;
}
.hT form {
  flex: 2;
  overflow: hidden;
  display: flex;
  height: 0.46rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.4rem;
  margin: 0 0.24rem;
  background-image: linear-gradient(
    90deg,
    rgba(16, 36, 65, 0.259) 0,
    rgba(17, 85, 99, 0.259) 100%
  );
}
.hT form input {
  height: 0.46rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 0.2rem;
  font-size: 0.22rem;
  color: rgba(255, 255, 255, 0.6);
  width: 80%;
}
.hT .search {
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/c-channel-all-20200804.png);
  width: 0.3rem;
  height: 0.3rem;

  background-repeat: no-repeat;
  background-size: 6rem auto;
  background-position: 0 -0.39rem;
  margin-right: 0.2rem;
}
.hT .reset {
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/c-channel-all-20200804.png);
  background-repeat: no-repeat;
  background-size: 3.7rem auto;
  width: 0.23rem;
  height: 0.32rem;
  background-position: -0.56rem -0.19rem;
}
.hT .user {
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/c-channel-all-20200804.png);
  background-repeat: no-repeat;
  background-size: 5.9rem auto;
  width: 0.35rem;
  height: 0.43rem;
  background-position: -0.26rem -0.38rem;
}
.hT .dangload {
  margin-left: 0.24rem;
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/header-rightBtn.png);
  height: 0.46rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.searchPanel {
  display: none;
}
.hB {
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.68rem;
  padding: 0 0.2rem;
}
.hB nav {
  height: 0.68rem;
  width: 93%;
}
.hB .navL {
  width: 100%;
  height: 0.68rem;
  overflow: hidden;
}
.hB .navL ul li:first-child {
  margin-left: 0;
}
.hB .navR {
  width: 0.38rem;
  height: 0.38rem;
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/c-channel-all-20200804.png);
  background-repeat: no-repeat;
  background-size: 8rem auto;

  background-position: -0.83rem -0.6rem;
}
.hB .navL ul {
  width: 23rem;
  height: 0.63rem;
  display: flex;
  align-items: center;
  justify-content: start;
  transform: translate(10px, 0);
}
.hB .navL ul li {
  margin: 0 0.2rem;
  height: 0.68rem;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.68rem;
  color: #fff;
  position: relative;
}
.hB .navL ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.2rem;
  height: 0.05rem;
  background: transparent;
  /* background-image: linear-gradient(to right, #16e05a 0, #16e09d 100%); */
  background-repeat: repeat-x;
}
.hB .navL ul li:nth-child(1)::after {
  background-image: linear-gradient(to right, #16e05a 0, #16e09d 100%);
}

.progre {
  height: 0.05rem;
  width: 0%;
  background: rgb(49, 223, 116);
}
.searchBut {
  display: none;
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
  width: 1rem;
}
.htFSDefault {
  display: none;
  margin-left: 0.2rem;
}
.sPanUl li {
  width: 90%;
  margin: 0 auto;
  font: 0.28rem/0.68rem "";
  border-bottom: 1px solid rgb(228, 228, 228);
}
.ifNullBox {
  display: none;
  width: 90%;
  margin: 0 auto;
}
.ifNullBox h3 {
  font: bold 0.28rem/0.38rem "";
  padding: 0.2rem 0;
}
.ifNullBox h3 i {
  width: 0.4rem;
  height: 0.38rem;
  background-size: 4.48rem auto;
  background-position: 0 -0.72rem;
  background-image: url(//www.iqiyipic.com/common/fix/h5-aura/c-channel-all-20200804.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  float: right;
}
.SearchHistory ul li {
  float: left;
  background: #f5f7fa;
  text-align: center;
  border-radius: 0.02rem;
  margin: 0 0.1rem;
  height: 0.4rem;
  font: 0.23rem/0.4rem "";
}
.SearchHot ul li {
  float: left;
  width: calc(50% - 0.2rem);

  margin: 0 0.1rem;
  height: 0.4rem;
  font: 0.23rem/0.4rem "";
}
.SearchHot ul li::before {
  content: "1";
  color: #ccc;
  margin-right: 0.1rem;
  font-weight: bold;
}
.SearchHot ul li:nth-child(1)::before {
  content: "1";
  color: red;
}
.SearchHot ul li:nth-child(2)::before {
  content: "2";
  color: tomato;
}
.SearchHot ul li:nth-child(3)::before {
  content: "3";
  color: rgb(238, 253, 19);
}
.SearchHot ul li:nth-child(4)::before {
  content: "4";
}
.SearchHot ul li:nth-child(5)::before {
  content: "5";
}
.SearchHot ul li:nth-child(6)::before {
  content: "6";
}
/* ------------ 上面是 header  ，下面是 banner------------- */

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 1.52rem;
}
.banner ul {
  width: 700%;
  display: flex;
}
.banner ul li {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner ul li .title {
  position: absolute;
  bottom: 0.2rem;
  font: 500 0.3rem/0.38rem "";
  color: #fff;
  margin-left: 0.2rem;
}
.banner ul li .type {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font: bold 0.23rem/0.38rem "";
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 0.1rem;
  border-radius: 0.04rem;
}
.dd {
  position: absolute;
  bottom: 0.2rem;
  right: 0.1rem;
  display: flex;
}
.dd li {
  width: 0.15rem;
  height: 0.05rem;
  margin: 0.05rem;
  background: #ccc;
}
/* ---------------上面是 banner , 下面 大剧热综艺----------------------- */
.djrz {
  width: 95%;
  margin: 0 auto;
}
.djrz h3 {
  font: bold 0.28rem/0.38rem "";
  padding: 0.2rem 0;
}
.djrz ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.djrz ul li {
  width: 48%;
  margin: 0 1%;
}
.djrz ul li .imgBox {
  position: relative;
}
.djrz ul li .imgBox .lable {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  text-align: center;
  font: 600 0.24rem/0.38rem "";
  color: #fff;
  padding: 0 0.05rem;
}
.djrz ul li .imgBox .information {
  position: absolute;
  bottom: 0.1em;
  right: 0.1rem;
  font: 0.24rem/0.38rem "";
  color: #fff;
}
.djrz ul li img {
  width: 100%;
}
.djrz ul li .title {
  font: 0.28rem/0.38rem "";
  color: #000;
}
.djrz ul li .plot {
  font: 0.22rem/0.38rem "";
}
