
.box1{
    background-image: url('./img1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
/* .box2{
    background-image: url('./logo_40c4f13.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.box3{
    background-image: url('./aa7acbd7937308e3cbb4c6acbf535b4957d22595.jpg@1100w_484h_1c_100q.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
} */